In [2]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [3]:
data1 =pd.read_excel('Data/Table 1. Retail turnover, by industry group 850101.xlsx',sheet_name="Data1")
data1 = data1.drop(range(0,9))
data1 = data1.rename(columns = {'Unnamed: 0':'Month'})
data1.head()
# 6 Different Indsutries in this Dataframe, SEASONALLY ADJUSTED IS MOST ACCURATE

,Month,Turnover ; Total (State) ; Food retailing ;,Turnover ; Total (State) ; Household goods retailing ;,"Turnover ; Total (State) ; Clothing, footwear and personal accessory retailing ;",Turnover ; Total (State) ; Department stores ;,Turnover ; Total (State) ; Other retailing ;,"Turnover ; Total (State) ; Cafes, restaurants and takeaway food services ;",Turnover ; Total (State) ; Total (Industry) ;,Turnover ; Total (State) ; Food retailing ;.1,Turnover ; Total (State) ; Household goods retailing ;.1,...,Turnover ; Total (State) ; Other retailing ;.1,"Turnover ; Total (State) ; Cafes, restaurants and takeaway food services ;.1",Turnover ; Total (State) ; Total (Industry) ;.1,Turnover ; Total (State) ; Food retailing ;.2,Turnover ; Total (State) ; Household goods retailing ;.2,"Turnover ; Total (State) ; Clothing, footwear and personal accessory retailing ;.2",Turnover ; Total (State) ; Department stores ;.2,Turnover ; Total (State) ; Other retailing ;.2,"Turnover ; Total (State) ; Cafes, restaurants and takeaway food services ;.2",Turnover ; Total (State) ; Total (Industry) ;.2
9,1982-04-01 00:00:00,1162.6,592.3,359.9,460.1,479.1,342.4,3396.4,1167.2,653.4,...,507.9,349.8,3518.7,1173.2,652.9,362.6,482.4,505.1,347.6,3523.4
10,1982-05-01 00:00:00,1150.9,629.6,386.6,502.6,486.1,342.1,3497.9,1178.6,648.6,...,502.3,346.3,3527.6,1181.7,654.1,361.9,484.2,504.9,346.3,3533.6
11,1982-06-01 00:00:00,1160,607.4,350.5,443.8,467.5,328.7,3357.8,1203.7,655.8,...,506.9,350.8,3561.5,1192.7,655.7,361.9,486.4,504.7,345.9,3547
12,1982-07-01 00:00:00,1206.4,632.4,359.3,459.1,491.1,338.5,3486.8,1209.8,660.5,...,503.6,341.5,3553.9,1203.2,656.6,361.7,488.6,505.3,345.5,3560.6
13,1982-08-01 00:00:00,1152.5,622.6,325.2,438.4,485.7,331.5,3355.9,1198.9,659.7,...,505.9,342.7,3581.8,1213.6,656.5,362,489.8,505.6,346.4,3573.6

In [4]:
data_by_state =pd.read_excel('Data/Table 3. Retail turnover, by state 850103.xlsx',sheet_name="Data1")
data_by_state = data_by_state.drop(range(0,9))
data_by_state = data_by_state.rename(columns = {'Unnamed: 0':'Month'})
data_by_state.head()

,Month,Turnover ; New South Wales ; Total (Industry) ;,Turnover ; Victoria ; Total (Industry) ;,Turnover ; Queensland ; Total (Industry) ;,Turnover ; South Australia ; Total (Industry) ;,Turnover ; Western Australia ; Total (Industry) ;,Turnover ; Tasmania ; Total (Industry) ;,Turnover ; Northern Territory ; Total (Industry) ;,Turnover ; Australian Capital Territory ; Total (Industry) ;,Turnover ; Total (State) ; Total (Industry) ;,...,Turnover ; Total (State) ; Total (Industry) ;.1,Turnover ; New South Wales ; Total (Industry) ;.2,Turnover ; Victoria ; Total (Industry) ;.2,Turnover ; Queensland ; Total (Industry) ;.2,Turnover ; South Australia ; Total (Industry) ;.2,Turnover ; Western Australia ; Total (Industry) ;.2,Turnover ; Tasmania ; Total (Industry) ;.2,Turnover ; Northern Territory ; Total (Industry) ;.2,Turnover ; Australian Capital Territory ; Total (Industry) ;.2,Turnover ; Total (State) ; Total (Industry) ;.2
9,1982-04-01 00:00:00,1250.2,916.2,486.3,279.4,298.3,79.9,NaN,57.1,3396.4,...,3518.7,1310.2,933.2,511.7,284,315.3,81.3,NaN,57.2,3523.4
10,1982-05-01 00:00:00,1300,931.2,492.8,288,318.5,78.9,NaN,57.3,3497.9,...,3527.6,1307.4,938.9,513.6,287.6,316.4,81.6,NaN,57.4,3533.6
11,1982-06-01 00:00:00,1234.2,887,494.1,277.2,301.5,77.5,NaN,55.3,3357.8,...,3561.5,1305.1,946.3,515.7,291.8,317.8,81.9,NaN,57.7,3547
12,1982-07-01 00:00:00,1265,921.3,515.6,296.1,316.4,82.7,NaN,56.3,3486.8,...,3553.9,1302.4,954.3,517.3,296.3,319.1,82.2,NaN,58.2,3560.6
13,1982-08-01 00:00:00,1217.6,883.2,501.4,288.4,300.5,78.1,NaN,55.4,3355.9,...,3581.8,1298.1,963.6,518,301.1,320.4,82.4,NaN,58.9,3573.6

In [5]:
data_by_state_and_industry =pd.read_excel('Data/Table 12. Retail turnover, state by industry subgroup, seasonally adjusted.xlsx',sheet_name="Data1")
data_by_state_and_industry = data_by_state_and_industry.drop(range(0,9))
data_by_state_and_industry = data_by_state_and_industry.rename(columns = {'Unnamed: 0':'Month'})
data_by_state_and_industry.head()
data_by_state_and_industry.columns

Index(['Month',
       'Turnover ;  New South Wales ;  Supermarket and grocery stores ;',
       'Turnover ;  New South Wales ;  Liquor retailing ;',
       'Turnover ;  New South Wales ;  Other specialised food retailing ;',
       'Turnover ;  New South Wales ;  Food retailing ;',
       'Turnover ;  New South Wales ;  Furniture, floor coverings, houseware and textile goods retailing ;',
       'Turnover ;  New South Wales ;  Electrical and electronic goods retailing ;',
       'Turnover ;  New South Wales ;  Hardware, building and garden supplies retailing ;',
       'Turnover ;  New South Wales ;  Household goods retailing ;',
       'Turnover ;  New South Wales ;  Clothing retailing ;',
       ...
       'Turnover ;  Total (State) ;  Department stores ;',
       'Turnover ;  Total (State) ;  Newspaper and book retailing ;',
       'Turnover ;  Total (State) ;  Other recreational goods retailing ;',
       'Turnover ;  Total (State) ;  Pharmaceutical, cosmetic and toiletry goods retailing ;',
       'Turnover ;  Total (State) ;  Other retailing n.e.c. ;',
       'Turnover ;  Total (State) ;  Other retailing ;',
       'Turnover ;  Total (State) ;  Cafes, restaurants and catering services ;',
       'Turnover ;  Total (State) ;  Takeaway food services ;',
       'Turnover ;  Total (State) ;  Cafes, restaurants and takeaway food services ;',
       'Turnover ;  Total (State) ;  Total (Industry) ;'],
      dtype='object', length=190)

In [26]:
data_by_state_Q1data = data_by_state.drop(range(9, 379))
data_by_state_Q1data["Month"]= pd.to_datetime(data_by_state_Q1data["Month"]) 
#data_by_state_Q1data[["Turnover ;  New South Wales ;  Total (Industry) ;","Turnover ;  Victoria ;  Total (Industry) ;",""]]  
data_by_state_Q1data_seasonal= data_by_state_Q1data.iloc[: , [0,10, 11, 12, 13, 14, 15, 16, 17, 18]]
data_by_state_Q1data_seasonal
#fig, ax = plt.subplots()
xaxis = data_by_state_Q1data.loc[(data_by_state_Q1data["Month"]>= '2013-1-1') & (data_by_state_Q1data["Month"]<= '2013-12-1'),["Turnover ;  New South Wales ;  Total (Industry) ;":"Turnover ;  Total (State) ;  Total (Industry) ;"]]
#tick_locations = [value for value in xaxis]
#plt.figure(figsize =(20, 15))
#yaxis = pd.Series(data_by_state_Q1data_seasonal.iloc[:,[10]]).array
#plt.bar(xaxis, yaxis, color='r', alpha=0.5, )
#plt.show()
xaxis

SyntaxError: invalid syntax (3422615549.py, line 7)